In [13]:
5/3

1.6666666666666667

In [14]:
int(5/3)

1

In [15]:
5//3

1

In [16]:
5%3

2

In [17]:
news1 = """여러줄의 문자열 컨텐츠를 이렇게 요렇게 저렇게 이렇게 저렇게 요렇게 저렇게 여렇게 
이렇게 저렇게 저렇게 여렇게 여렇게 저렇다."""

In [20]:
news1

'여러줄의 문자열 컨텐츠를 이렇게 요렇게 저렇게 이렇게 저렇게 요렇게 저렇게 여렇게 \n이렇게 저렇게 저렇게 여렇게 여렇게 저렇다.'

In [21]:
a = [1, 2, 3, 4]
len(a)

4

In [22]:
a = "hello"
len (a)

5

In [23]:
a[1]

'e'

In [24]:
a[4]

'o'

In [25]:
a[-1]

'o'

In [26]:
a = "life is too hard"

In [31]:
a[0:4]

'life'

In [32]:
"::는 슬라이싱"

'::는 슬라이싱'

In [33]:
a[2:]

'fe is too hard'

In [34]:
a[:2]

'li'

In [35]:
phone_num = "010-1234-5678"

In [36]:
phone_num[0:]

'010-1234-5678'

In [37]:
phone_num[1:2, 4:7, 9:12]

TypeError: string indices must be integers

In [38]:
pn = phone_num[4:8]+phone_num[9:]

In [39]:
pn

'12345678'

In [40]:
a = "hello"

In [41]:
a[1]

'e'

In [42]:
a[1] = 'a'

TypeError: 'str' object does not support item assignment

In [43]:
hallo = a[:1]+"a"+a[2:]

In [44]:
hallo

'hallo'

In [45]:
res = 10
print("answer: [%d]"%res)

answer: [10]

In [47]:
# (0,1) 2
# (0,2) 3
# (0,3) 4
res2 = [0,0,0,0,0]
res2[1] = 2
res2[2] = 3
res2[3] = 4

for j in range(1, 4):
    print("(0.%d)%d" %(j, res2[j]))

(0.1)2
(0.2)3
(0.3)4

In [48]:
print("농도가 98%입니다.")

농도가 98%입니다.

In [49]:
print("농도가 %d%%입니다." %98
     )

농도가 98%입니다.

In [50]:
"%s" %"hi"

'hi'

In [51]:
"%10s" %"hi"

'        hi'

In [63]:
# 이름 , 11번째 자리에 n , 15번째 자리에 n
name = "응"
n = 10
m = 20
"%-10s%-4d%d" %(name, n, m)

'응         10  20'

In [55]:
"%"

'%'

In [58]:
res = 3.4219875
"%.4f" %res

'3.4220'

In [59]:
res = 3.4219875
"%.4f" %res

'3.4220'

In [60]:
1/3

0.3333333333333333

In [62]:
res = 1/3
"%.4f" %res

'0.3333'

In [67]:
a = 1
b = 2
"값:{0}, 값:{1}".format(a, b),"값:{1}, 값:{0}".format(a, b)

('값:1, 값:2', '값:2, 값:1')

In [68]:
"값:{first}, 값:{second}" .format(first = a, second = b)

'값:1, 값:2'

In [70]:
name = "응"
satis_pred = 98.1 #예상 만족도
print(f"""{name}고객님께서 다음 상품에 대해 {satis_pred}정도로 만족하실 것 같아요.""")

응고객님께서 다음 상품에 대해 98.1정도로 만족하실 것 같아요.

In [71]:
naem.count('b')

NameError: name 'naem' is not defined

In [72]:
name.count()

TypeError: count() takes at least 1 argument (0 given)

In [74]:
a = "my hobby"
a.count('b')

2

In [75]:
a.find('b')

5

In [76]:
a.find('z')

-1

In [77]:
a.index('z')

ValueError: substring not found

In [78]:
a = " hi "
a.lstrip()

'hi '

In [79]:
a = "***^^***"
a.strip('*')

'^^'

In [80]:
a = "hello"
a.replace("e", "a")

'hallo'

In [81]:
a

'hello'

In [82]:
pn = "010.9000.9123"
pn.split(".")

['010', '9000', '9123']

In [83]:
# [ ,  ,  ]: JS 배열 / python : list

In [84]:
a = "hello"
a2 = a.replace("e", "a")
a, a2

('hello', 'hallo')

In [85]:
a = [1, 4, 2, 5, 2]
a.sort()

In [86]:
a

[1, 2, 2, 4, 5]

In [88]:
a = [1, 4, 2, 5, 2]
a2 = sorted(a)
a, a2

([1, 4, 2, 5, 2], [1, 2, 2, 4, 5])

In [89]:
a = [1, 2, "3", 4]
a

[1, 2, '3', 4]

In [91]:
a = [1, 2, [3, 4]]
a

[1, 2, [3, 4]]

In [92]:
a[0], a[1], a[2][0], a[2][1]

(1, 2, 3, 4)

In [94]:
"2" + "3"

'23'

In [95]:
a = ["h","e","l","l","o"]
a[1] = "a"
a

['h', 'a', 'l', 'l', 'o']

In [96]:
a = ["h","e","l","l","o"]
del a[1]
a

['h', 'l', 'l', 'o']

In [97]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [98]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [99]:
a = ["엑셀cell데이터입력", "마우스 포인터 움직임"]
a.insert(0, "전원끄기")
a

['전원끄기', '엑셀cell데이터입력', '마우스 포인터 움직임']

In [100]:
a = ["사장님 업무지시", "과장님 업무시지", "김대리님 업무지시"]
a.insert(1, "이사님 업무")
a

['사장님 업무지시', '이사님 업무', '과장님 업무시지', '김대리님 업무지시']

In [101]:
a = [10, 20, 30, 40]
del a[1] # 20 삭제 
a

[10, 30, 40]

In [103]:
a = [10, 20, 30, 40]
a.remove(20)
a

[10, 30, 40]

In [104]:
a = [10, 20, 30, 20]
a.remove(20)
a

[10, 30, 20]

In [107]:
a = [10, 20, 30, 20]
a.remove(20)
a.remove(20)
a

[10, 30]

In [108]:
a = [1, 2, 3]
a.pop(2)
a

[1, 2]

In [109]:
a = [1, 2, 3]
a[1] = 20
a

[1, 20, 3]

In [110]:
a = (1, 2, 3)
a[1] = 20
a

TypeError: 'tuple' object does not support item assignment

In [113]:
# JS객체
# dic = {name: 'pay'
#        phone: '010-1111-1111'
#        birth: '1118'}
dic = {'name': 'pay',
      'phone': '010-1111-1111',
      'birth': '1118'}

In [114]:
dic["hobby"] = "swiming"
dic

{'name': 'pay', 'phone': '010-1111-1111', 'birth': '1118', 'hobby': 'swiming'}

In [115]:
dic["name"]

'pay'

In [116]:
dic.keys()

dict_keys(['name', 'phone', 'birth', 'hobby'])

In [117]:
dic.values()

dict_values(['pay', '010-1111-1111', '1118', 'swiming'])

In [118]:
dic.items()

dict_items([('name', 'pay'), ('phone', '010-1111-1111'), ('birth', '1118'), ('hobby', 'swiming')])

In [119]:
dic.get("hobby")

'swiming'

In [120]:
"hobby" in dic

True

In [121]:
"names" in dic

False

In [122]:
# JS : set 집합

In [123]:
1>2

False

In [124]:
2>1

True

In [125]:
if (False):
    print("실행하지못함.")

In [126]:
 a = [1, 2, 3]
 b = a

In [127]:
a()

TypeError: 'list' object is not callable

In [128]:
a

[1, 2, 3]

In [129]:
b

[1, 2, 3]

In [130]:
b[1] = 20
a

[1, 20, 3]

In [131]:
a = [1, 2, 3]
b = a[:]
b[1] = 20
a

[1, 2, 3]

In [132]:
a = 1
b = 2
a, b = (1, 2)
a, b

(1, 2)

In [133]:
(a, b) = 1, 2
a, b

(1, 2)

In [134]:
x = 1 
y = 2
x, y = y, x
x, y

(2, 1)

In [135]:
my_money = 20000
taxi_pay = 10000
if my_money >= taxi_pay:
    print("택시를")
    print("타고")
    print("가자")

택시를
타고
가자

In [136]:
my_money = 20000
taxi_pay = 10000
if my_money >= taxi_pay:
    print("택시를")
print("타고")
    print("가자")

IndentationError: unexpected indent (1107303426.py, line 6)

In [137]:
# JS 3>2 && 4>3
# if 3>2 and 4>3

In [139]:
if True and True :
    print("ok")

ok

In [140]:
list1 = [1, 4, 2]
4 in list1

True

In [141]:
dict1 = {"key1":1, "key4":4, "key2":2}
"key4" in dict1

True

In [143]:
if ~~~~ : 
    pass

SyntaxError: invalid syntax (1739931377.py, line 1)

In [145]:
#JS 
#for(let i = 0; i < 10 ; i ++){}

In [147]:
for i in range(10):
    print(i, end="")

0123456789

In [148]:
for i in range(1, 10):
    print(i, end="")

123456789

In [149]:
for i in range(1, 10, 2):
    print(i, end="")

13579

In [154]:
result = []
for dan in range(2, 10):
    for gop in range(1, 10):
        result.append(dan * gop)
        
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [157]:
#JS
# console.log (`life is too short`)

print ("life" "is" "too short")

lifeistoo short

In [158]:
print("life ""is ""too short")

life is too short

In [161]:
result = []
for countdown in range(61):
    if countdown <= 0:
    print(countdown, end="")

In [164]:
a = 1 
b = 2
c = 3
print(a, b, c, sep="/")

1/2/3

In [190]:

for countdown in range(60, -1, -1):
    print(countdown, end=" ")
    if countdown <= 0:
        print("발사")

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 발사

In [208]:
for row in range(1, 10):
    for col in range(1, 10):
        print(row * col, end="\t")
    print()

1	2	3	4	5	6	7	8	9
2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [1]:
for num in range(1, 8):
    for row in range(1, 8):
        if num >= row:
            print(row, end="")
        else:
            print("*", end="")
    print()

1******
12*****
123****
1234***
12345**
123456*
1234567

In [2]:
for num in range(1, 8):
    for row in range(1, num+1):
        print(row, end="")
    for row_star in range(1, (7-num)+1):
        print("*", end="")
    print()

1******
12*****
123****
1234***
12345**
123456*
1234567

In [6]:
for num in range(1, 8):
    for row in range(1, num+1):
        print(row, end="")
    print("*"*(7-num))

1******
12*****
123****
1234***
12345**
123456*
1234567

In [7]:
num = ""
for i in range(1, 8):
    num += str(i)
    print(num + "*"*(7-i))

1******
12*****
123****
1234***
12345**
123456*
1234567

In [39]:
count = 0
for a in range(1, 101):
    for b in range(1, 101):
        for c in range(1, 101):
            if a*a + b*b == c*c:
                count+=1
print(count, "개")

104 개

In [70]:
count = 0
num = 0
for row in range(1, 11):
    for col in range(1, 11):
        print(row+col-1, end="")
    print()
            
print(count)

12345678910
234567891011
3456789101112
45678910111213
567891011121314
6789101112131415
78910111213141516
891011121314151617
9101112131415161718
10111213141516171819
0

In [76]:
count = 0
for row in range (1, 11):
    for col in range (1, 11):
        num = row + col - 1
        count += num
        print(num, end=" ")
    print()
print("누적 값은 :", count)
print(f"누적 값은 {count}이다.")

1 2 3 4 5 6 7 8 9 10
2 3 4 5 6 7 8 9 10 11
3 4 5 6 7 8 9 10 11 12
4 5 6 7 8 9 10 11 12 13
5 6 7 8 9 10 11 12 13 14
6 7 8 9 10 11 12 13 14 15
7 8 9 10 11 12 13 14 15 16
8 9 10 11 12 13 14 15 16 17
9 10 11 12 13 14 15 16 17 18
10 11 12 13 14 15 16 17 18 19
누적 값은 : 1000
누적 값은 1000이다.

In [87]:
count = 0
for i in range(1, 101):
    i1 = int((i/1)%10)
    i2 = int((i/10)%10)
    i3 = int((i/100)%10)
    i4 = i3 + i2 + i1 
    count += i4
print(count)

901

In [2]:
num = 682
count = 0
while True:
    if num%2 == 0:
        num /= 2
    else:
        num = (num*3+1)/2
    count += 1
    
    if num == 1:
        print(count)
        break

11

In [ ]:
a = 1
a

In [1]:
count = 0
myHeight = 0
while True :
    myHeight += 3
    if myHeight > 19.4:
        break
    myHeight -= 2
    count += 1
print(count)

17

In [7]:
bunja = []
bunmo = []
big_loop = 1
while True:
    for i in range(1, big_loop+1):
        bunja.append(i)
        bunmo.append(big_loop+1 - i)
    if big_loop == 20:
        break
    big_loop+=1
print(bunja, bunmo, end=" ")

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] [1, 2, 1, 3, 2, 1, 4, 3, 2, 1, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 7, 6, 5, 4, 3, 2, 1, 8, 7, 6, 5, 4, 3, 2, 1, 9, 8, 7, 6, 5, 4, 3, 2, 1, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
for i_test in range(len(bunmo)):
    if (bunja[i_test] == 4) and (bunmo[i_test] ==5):
        print(i_test+1)
        break

32

In [9]:
big_loop = 1
i_test = 1
going = True
while going:
    for i in range(1, big_loop + 1):
        if (i==4) and (big_loop+1 - i == 5):
            print(i_test)
            going = False
        i_test += 1
    big_loop += 1

32

In [18]:
apple_left = 17
money = 0
apple6 = 0
apple5 = 0
apple1 = 0
while apple_left > 0:
    if apple_left >= 6:
        apple_left -= 6
        money += 2400
        apple6 += 1
    elif apple_left >= 5:
        apple_left -= 5
        money += 2500
        apple5 += 1
    elif apple_left >= 1:
        apple_left -= 1
        money += 700
        apple1 += 1
apple_left, apple1, apple5, apple6, money

(0, 0, 1, 2, 7300)

In [19]:
def apple_shop (basket):    #   / <- 나누기 연산자 (소숫점도 나옴)  // <- 나누기 몫 연산자 (몫만나옴) % <- 나머지 연산자 (5 % 3 = 2 <- 나머지반환)
    six_apple = basket // 6 #  6개로 묶인 사과 갯수 세기
    basket = basket % 6     #  6개로 나눠서 남은 나머지만 넣어주기
    five_apple = basket // 5 # 위 동일
    basket = basket % 5      # 위 동일
    one_apple = basket       # 남은 사과 담아주기
    return (six_apple * 2400) + (five_apple * 2500) + (one_apple * 700) # 바구니의 갯수에 가격 매겨주기
print(apple_shop(17))

7300

In [23]:
num = 1
for i in range(2016):
    num *= 3
    num %= 10
num

1

In [24]:
# sum(), min(), max()함수 사용 X, list ok 

val_in = int(input("양수를 입력하세요."))
val_in < 0 = False
count
while val_in > 0
    val_min = 
    
    val_max
    val_average


print(f"평균:{val_average}. 최소값:{val_min}. 최대값:{val_max}.")

SyntaxError: cannot assign to comparison (1221209315.py, line 4)

In [33]:
val_count = 1
val_sum = val_min = val_max = int(input("숫자를 입력하시오"))
while True:
    val_in = int(input("숫자를 입력하시오"))
    
    if val_in < 0:
        val_average = val_sum / val_count
        print(f"평균:{val_average}. 최소값:{val_min}. 최대값:{val_max}.")
        break
        
    if val_min > val_in:
        val_min = val_in
        
    if val_max < val_in:
        val_max = val_in
    
    val_sum += val_in
    val_count += 1

숫자를 입력하시오4
숫자를 입력하시오5
숫자를 입력하시오6
숫자를 입력하시오-1
평균:5.0. 최소값:4. 최대값:6.

In [ ]:
# 첫번째 문자를 맨 뒤로 움직인다. 
# 첫 문자가 a 가 나올때가지 몇 번을 돌려야하는가.
# foobar

# 반복문으로 계속 돌린다 -> x[0]을 append (?)
# -> 횟수 당 카운트 -> x[0] == 'a' 일때 break

In [48]:
word = 'foobar'
wordlist = []
for r in range(len(word)-1):
    word = word[1:] + word[0] #문자 옮기기..
    wordlist.append(word)
wordlist_sort = sorted(wordlist)
wordlist.index(wordlist_sort[0])+1

4

In [49]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [50]:
result = add_many(1, 2, 3)

In [51]:
print(result)

6

In [ ]:
def sachick(optype, *data):
    if optype == "add":
        result = 0
        for i in data:
            result += i
    elif optype == "mul":
        result = 0
        for i in data:
            result -= 1
    elif optype =="div":
        result = 1
        for i in data:
            result /= i
    else:
        result = -1
    return result