In [4]:
# pandas : 표
# seaborn, matplotlib 그림(시각화, 도식화)

In [5]:
# sql : 행(row)    : 한 건
#       열(column) : 종 류


#      국   영   수
#학생1  98   88  78
#학생2  88   83  72
#학생3  78   83  71
#학생4  68   63  46

In [6]:
# pandas - Series ( 표 칼럼 )
# pandas - DataFrame ( 표, 2차원 )

In [7]:
import pandas as pd
# import matplotlib.pyplot as plt

In [8]:
kor_data = [98, 88, 78, 68]
s_kor_data = pd.Series(kor_data)
s_kor_data

0    98
1    88
2    78
3    68
dtype: int64

In [9]:
s_kor_data_1 = pd.Series(kor_data, index=["학생1","학생2","학생3","학생4"])
s_kor_data_1

학생1    98
학생2    88
학생3    78
학생4    68
dtype: int64

In [10]:
s_eor_data_1 = pd.Series([88, 83, 83, 76], index=["학생1","학생2","학생3","학생4"])
s_eor_data_1

학생1    88
학생2    83
학생3    83
학생4    76
dtype: int64

In [11]:
s_math_data_1 = pd.Series([78, 72, 71, 46], index=["학생1","학생2","학생3","학생4"])
s_math_data_1

학생1    78
학생2    72
학생3    71
학생4    46
dtype: int64

In [12]:
s_math_data_1[3], s_math_data_1["학생1"]

/var/folders/ss/tbf715dj6jl7lr6p44lxrw3w0000gn/T/ipykernel_1303/1432318668.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s_math_data_1[3], s_math_data_1["학생1"]

(46, 78)

In [13]:
s_math_data_1["학생1"] = 99 # sql update [tablename] set math=66 where name='응'
s_math_data_1

학생1    99
학생2    72
학생3    71
학생4    46
dtype: int64

In [14]:
# sql : 행(row)    : 한 건
#       열(column) : 종 류


#      국   영   수  + 과학을 추가
#학생1  98   88  78    87
#학생2  88   83  72    85
#학생3  78   83  71    83
#학생4  68   63  46    81

In [15]:
s_sci_data_1 = pd.Series({"학생1":87, "학생2":85, "학생3":83, "학생4":81})
s_sci_data_1

학생1    87
학생2    85
학생3    83
학생4    81
dtype: int64

In [16]:
s_sci_data_1["학생1"], s_sci_data_1["학생2"]

(87, 85)

In [17]:
s_sci_data_1[["학생1","학생2"]]

학생1    87
학생2    85
dtype: int64

In [19]:
str1 = "pine apple"
str1[5:]

'apple'

In [20]:
s_sci_data_1[-2:]

학생3    83
학생4    81
dtype: int64

In [21]:
s_sci_data_1[2:]

학생3    83
학생4    81
dtype: int64

In [22]:
s_sci_data_1[s_sci_data_1>=85]

학생1    87
학생2    85
dtype: int64

In [23]:
s_sci_data_1.astype("float")

학생1    87.0
학생2    85.0
학생3    83.0
학생4    81.0
dtype: float64

In [24]:
s_sci_data_1.astype("string")

학생1    87
학생2    85
학생3    83
학생4    81
dtype: string

In [25]:
s_sci_data_1.astype("object") # pandas string=object

학생1    87
학생2    85
학생3    83
학생4    81
dtype: object